:root{
    --text-color: #E1CA96;
    --other-color: #FAF3DD;
    --main-color:#9EA93F;
    --secondary-color: #60712F;
    --accent-color:#315C2B;
    --success-color: #274029;
    --failure-color: #181F1C;
}

/* latin */
@font-face {
  font-family: 'Trade Winds';
  font-style: normal;
  font-weight: 400;
  src: local('Trade Winds'), local('TradeWinds'), url(https://fonts.gstatic.com/s/tradewinds/v5/P7L1H4TWVDNJivDGg_--QI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  font-family: monospace;
  background-color: var(--main-color);
}

.title {
  background-color: var(--text-color);
  text-align: center;
  font-family: 'Trade Winds', cursive;
}

input {
  background-color: var(--failure-color);
}

select {
  background-color: var(--failure-color);
}

button {
  background-color: var(--failure-color);
}


.freeze {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.thaw {
  background-color: var(--accent-color);
  color: var(--other-color);
  padding-bottom: 15px;
}

.roster {
  text-align: center;
}

.roster ul {
  list-style: none;
}

.roster ul li {
  color: var(--other-color);
  font-size: 60%;
}


#players-list {
  color: var(--text-color);
}
