$green : #274029;
$beige : #E1CA96;

.box {
  background: $green;
  border: 3px solid black;
  padding: 40px 80px;
  .button {
    font-weight: bold;
    text-align: center;
    background: red;
    color: white;
  }
}

.jumbotron {
  color: $beige;
  font-size: 12px;
  background-image: linear-gradient( 100deg, black, grey 20%, $green );
  border-style: solid;
  border-width: 5px;
  border-color: $green;
  h3 {
    font-size: 40px;
  }
  h5 {
    font-family: fantasy;
    font-size: 22px;
    color: $green;
  }
}
